.educational-info-editing {
    display: flex;
    flex-direction: column;

    padding-left: 20px;

    margin-bottom: 50px;
}

.educational-info-editing form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 200px;

    gap: 10px;
}

.educational-info-display {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 20px;

    margin-bottom: 50px;
}

.educational-info-display button {
    width: 200px;
}